@import './src/modules/styles/_variables.scss';

.adm-pagination {
  display: inline-block;
  &__list {
    background: #fff;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 4px 5px;
    user-select: none;
    > * {
      display: inline-block;
      vertical-align: middle;
      button {
        @include resetBtn;
        display: inline-block;
        font-size: 14px;
        padding: 5px 8px;
        cursor: pointer;
        border: 1px solid transparent;
        background: #fff;
        border-radius: 2px;
        line-height: 1;
        color: #444;
        &:hover {
          background: #ececec;
        }
        &.is__active {
          background: $color-green;
          color: #fff;
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}