@import '../../styles/variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  transition:all .1s ease;
}

$caret-width:30px;

.zelect {
  position: relative;
  background: $input-bg;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  color: $text-color;
  font-size: $text-size;
  &__input {
    &__field {
      display: block;
      width: 100%;
      @include resetInput;
      padding: $input-y-padding $caret-width $input-y-padding $input-x-padding;
    }
    .field {
      //padding-right: 32px;
    }
  }
  &__button {
    @include resetBtn;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 0;
    color: transparent;
    width:$caret-width;
    border-radius: 0 $input-border-radius $input-border-radius 0 ;
    cursor: pointer;
    &:before{
      @include caretIcon(#888);
      @include centerAbsolut;
    }
  }

  &__options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #cfd3d7;
    border-top-color: transparent;
    margin-top: -1px;
    border-radius: 0 0 3px 3px;
    z-index: 102;
    overflow: hidden;
    &.with-addon {
      left: 35px;
    }
    ul {
      max-height: 141px;
      overflow: auto;
    }
    &__results {
      &.clear-selection {
        border-top: 1px solid #cfd3d7;
        li {
          font-weight: bold;
          background: transparent !important;
        }
      }
      > p {
        padding: 5px 8px;
        font-weight: bold;
        font-size: 14px;
        border-top: 1px solid #cfcfcf;
        &:first-child {
          border-top: none;
        }
        &.hidden {
          display: none;
        }
      }
      > li,
      > ol {
        position: relative;
        cursor: pointer;
        display: block;
        border: none;
        height: auto;
        text-align: left;
        border-top: none;
        line-height: 1em;
        color: rgba(0, 0, 0, 0.87);
        padding: 10px 15px;
        font-size: 13px;
        text-transform: none;
        font-weight: normal;
        box-shadow: none;
        overflow: hidden;
        text-overflow: ellipsis;
        &.is-selected {
          font-weight: 600;
        }
        &.hidden {
          display: none;
        }
        &:hover,
        &.is-selected {
          background-color: #eeeeee;
          color: #333;
        }
      }
      &:hover {
        > * {
          &.is-selected {
            background: transparent;
            color: #f78d00;
            &:hover {
              background-color: #eeeeee;
              color: #333;
            }
          }
        }
      }
      b {
        display: block;
        margin-top: 5px;
        font-weight: 700;
      }
    }
  }

  .ui.basic.red.label {
    top: initial;
    bottom: 100%;
    left: initial;
    right: 0;
    //margin-bottom: 7px;
  }

  &__add-new-btn {
    position: relative;
    padding: 8px 18px 8px 30px;
    line-height: 1;
    border-top: 1px solid #d8dde1;
    width: 100%;
    text-align: left;
    font-size: 14px;
    i {
      font-size: 16px;
      position: absolute;
      top: 6px;
      left: 10px;
    }
  }

  &.is-active {
    .zelect__options {
      display: block;
    }
    .zelect__input {
      .field {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .zelect__options,
    .zelect__input .field {
      border-color: #00beef;

    }
    .zelect__button {
      &:before {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
}
