.zelect {
  position: relative;
  &__input {
    position: relative;
    .field {
      padding-right: 32px;

    }
  }
  &__button {
    padding: 6px 12px;
    box-shadow: none !important;
    padding: 6px 12px;
    border-color: transparent;
    //border-left-color: #cfd3d7;
    box-shadow: none;
    position: absolute !important;
    top: 0;
    right: 0;
    border-radius: 0;
    color: #888888;
    width: auto !important;
    margin: 0 !important;
    &:before,
    &:after {
      display: none !important;
    }
  }

  &__options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #cfd3d7;
    border-top-color: transparent;
    margin-top: -1px;
    border-radius: 0 0 3px 3px;
    z-index: 102;
    overflow: hidden;
    ul {
      max-height: 141px;
      overflow: auto;
    }
    &__results {
      &.clear-selection {
        border-top: 1px solid #cfd3d7;
        li {
          font-weight: bold;
          background: transparent !important;
        }
      }
      > * {
        position: relative;
        cursor: pointer;
        display: block;
        border: none;
        height: auto;
        text-align: left;
        border-top: none;
        line-height: 1em;
        color: rgba(0, 0, 0, 0.87);
        padding: 8px;
        font-size: 12px;
        text-transform: none;
        font-weight: normal;
        box-shadow: none;
        overflow: hidden;
        text-overflow: ellipsis;
        &.is-selected {
          font-weight: 600;
        }
        &.hidden {
          display: none;
        }
        &:hover,
        &.is-selected {
          background-color: #eeeeee;
          color: #333;
        }
      }
      &:hover {
        > * {
          &.is-selected {
            background: transparent;
            color: #f78d00;
            &:hover {
              background-color: #eeeeee;
              color: #333;
            }
          }
        }
      }
      b {
        display: block;
        margin-top: 5px;
        font-weight: 700;
      }
    }
  }

  .ui.basic.red.label {
    top: initial;
    bottom: 100%;
    left: initial;
    right: 0;
    //margin-bottom: 7px;
  }

  &__add-new-btn {
    position: relative;
    padding: 8px 18px 8px 30px;
    line-height: 1;
    border-top: 1px solid #d8dde1;
    width: 100%;
    text-align: left;
    font-size: 14px;
    i {
      font-size: 16px;
      position: absolute;
      top: 6px;
      left: 10px;
    }
  }

  &.active {
    .zelect__options {
      display: block;
    }
    .zelect__input {
      .field {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .zelect__options,
    .zelect__input .field {
      border-color: #a0a0a0;

    }
    .zelect__button {
      .caret {
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
}
