@import '../../../styles/_variables.scss';

.adm-input {
  &__description {
    color: $input-description-color;
    font-size: 12px;
    margin-top: 7px;
  }
  &__label {
    font-size: 13px;
    margin-bottom: 9px;
    font-weight: 600;
    color: $text-color;
    display: block;

    &.is-required {
      &:after {
        content: "*";
        color: #f78d00;
        display: inline-block;
        margin-left: 3px;
        vertical-align: top;
        margin-top: -2px;
      }
    }
  }
  &__addon {
    border: 1px solid $input-border-color;
    background: $input-addon-bg;
    margin: 0;
    border-radius: $input-border-radius 0 0 $input-border-radius;
    transition: all .3s;
    color: $input-addon-color;
    min-width: $input-addon-width;
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
      font-size: inherit;
    }
  }
  &__container {
    input[adm][type="text"], zelect, textarea[adm] {
      width: 100%;
    }
    input[adm][type="text"], .zelect, textarea[adm] {
      transition: border-color .3s;
    }
    input[adm][type="text"],
    textarea[adm] {
      @include resetInput;
      border: 1px solid $input-border-color;
      border-radius: $input-border-radius;
      padding: $input-y-padding $input-x-padding;
      font-size: $text-size;
      color: $text-color;
      background: $input-bg;
      position: relative;
      text-align: left;
    }
    &.is-invalid {
      input[adm][type="text"],
      textarea[adm],
      .adm-input__addon,
      .zelect,
      .zelect__input__addon {
        border-color: $input-border-color-invalid;
      }
    }

    &.with-addon {
      .wrap {
        display: flex;
        flex-direction: row;
        input[adm][type="text"],
        .zelect,
        textarea[adm] {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
