
.pg{
  &__main{
    max-width: 1200px;
    margin:0 auto;
  }
  &__menu{
    padding: 15px 0;
    background: #fff;
    line-height: 1.2;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
    ul{
      margin: 0;
      padding:0;
      list-style: none;
      max-width: 1200px;
      margin:0 auto;
      li{
        display: inline-block;
        margin: 0 10px;
        &:first-child{
          margin-left:0;
        }
        &:last-child{
          margin-right:0;
        }
        a{
          color:black;
          text-decoration: none;
          border-bottom:1px dashed;
          &:hover{
            border-bottom:1px solid;
          }
          &.is-active{
            color:lightseagreen;
            cursor: default;
            border-bottom:1px dashed !important;
          }
        }
      }
    }
  }
}
