<div>
  <button icon="edit" adm-button>Button</button>
  <button adm-button [loading]="dynamicClass" (click)="dynamicClass = !dynamicClass">Button</button>
  <a adm-button icon="view_carousel" iconPosition="right">Button</a>
  <div icon="lock_open" adm-button>Button</div>
  <adm-input-container style="display: inline-block">
    <adm-single-select [options]="[{value:'1', label:'Super label'}]"
                       placeholder="Select some item"></adm-single-select>
  </adm-input-container>
</div>
<br>
<div class="row">
  <button adm-button [loading]="dynamicClass">Button</button>
  <button adm-button [loading]="dynamicClass" buttonType="primary">Button
  </button>
  <button adm-button [loading]="dynamicClass" buttonType="success">Button</button>
  <button adm-button [loading]="dynamicClass" buttonType="danger">Button</button>
  <button adm-button [loading]="dynamicClass" buttonType="warning">Button</button>
</div>

<br>

<div class="row">
  <button adm-button size="small">Button</button>
  <button adm-button size="small" buttonType="success" icon="edit">Button</button>
  <button adm-button size="small" buttonType="primary">Button</button>
</div>

<br>

<div class="row">
  <button adm-button size="large">Button</button>
  <button adm-button size="large" buttonType="success" icon="edit">Button</button>
  <button adm-button size="large" buttonType="primary">Button</button>
</div>

<br>

<div class="row">
  <button adm-button [disabled]="true">Button</button>
  <button adm-button (click)="so" [disabled]="true">Button</button>
  <button adm-button [disabled]="true" buttonType="success">Button</button>
  <button adm-button [disabled]="true" buttonType="danger">Button</button>
  <button adm-button [disabled]="true" buttonType="warning">Button</button>
</div>
