.adm-multi-checkbox,
.adm-multi-radio{
  display: block;
  &.is-inline {
    .adm-multi-ctrl-wrap {
      display: flex;
      flex-direction: row;
      > * {
        margin-right: 20px;
        .adm-checkbox__el,
        .adm-radio__el {
          margin-right: 5px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}