@import './src/modules/styles/_variables.scss';

$checkbox-size: 18px;
$checkbox-border-color: #5a5a5a;
$checkbox-checked: #46bb00;

.adm-checkbox {
  display: block;
  margin: 5px 0;
  &__wrap {
    display: flex;
    flex-direction: row;
    user-select: none;
  }
  &__el {
    display: inline-block;
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: 2px;
    border: 1px solid $checkbox-border-color;
    cursor: pointer;
    position: relative;
    transition: all .07s ease-in;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    &:before {
      content: "check";
      font-family: 'Material Icons';
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      text-transform: none;
      display: inline-block;
      color: #fff;
      transition: all .1s ease-in;
      transform: scale(0);
    }
  }

  &__label {
    cursor: pointer;
    &.is-required {
      @include requiredLabel;
    }
  }

  &.is-rtl {
    flex-direction: row-reverse;
    .adm-checkbox__el {
      margin: 0 0 0 10px;
    }
  }

  &[checked=true] {
    .adm-checkbox__el {
      background: $checkbox-checked;
      border-color: $checkbox-checked;
      &:before {
        transform: scale(1);
      }
    }
  }

  &[disabled=true] {
    pointer-evets: none;
    .adm-checkbox__el {
      cursor: not-allowed;
      background: rgba($checkbox-border-color, .3);
      border-color: rgba($checkbox-border-color, .3);
    }
  }

}