<label class="ui-checkbox-layout" #label>
    <div class="ui-checkbox-inner-container"
         [class.ui-checkbox-inner-container-no-side-margin]="!_hasLabel()">
        <input #input
               class="ui-checkbox-input cdk-visually-hidden" type="checkbox"
               [id]="inputId"
               [required]="required"
               [checked]="checked"
               [value]="value"
               [disabled]="disabled"
               [name]="name"
               [tabIndex]="tabIndex"
               [attr.aria-label]="ariaLabel"
               [attr.aria-labelledby]="ariaLabelledby"
               (change)="_onInteractionEvent($event)"
               (click)="_onInputClick($event)">
    </div>
    <span class="ui-checkbox-label" #labelWrapper>
    <ng-content></ng-content>
  </span>
</label>
