@import './src/modules/styles/_variables.scss';

.adm-input {
  &__description {
    color: $input-description-color;
    font-size: 12px;
    margin-top: 7px;
  }
  &__label {
    font-size: 13px;
    margin-bottom: 9px;
    font-weight: 600;
    color: $text-color;
    display: block;

    &.is-required {
      @include requiredLabel;
    }
  }
  &__addon {
    border: 1px solid $input-border-color;
    background: $input-addon-bg;
    margin: 0;
    border-radius: $input-border-radius 0 0 $input-border-radius;
    color: $input-addon-color;
    flex-basis: $input-addon-width;
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons {
      font-size: inherit;
    }
  }
  &__container {
    display: block;
    input[adm][type="text"],
    input[adm][type="number"],
    adm-single-select,
    adm-select[single],
    textarea[adm],
    adm-multi-select,
    adm-multi-select .select2-container .select2-selection,
    adm-date-range-picker,
    adm-date-range-picker button[adm] {
      flex: 1;
    }
    adm-date-range-picker {
      position: static;
    }
    input[adm][type="text"],
    input[adm][type="number"],
    textarea[adm],
    button[adm] {
      @include resetInput;
      border: 1px solid $input-border-color;
      border-radius: $input-border-radius;
      padding: $input-y-padding $input-x-padding;
      font-size: $text-size;
      color: $text-color;
      background: $input-bg;
      position: relative;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
    }
    input.adm-typeahead{
      &.is__open{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &.is-invalid {
      > .wrap {
        > input[adm][type="text"],
        > textarea[adm],
        > .adm-input__addon,
        > adm-single-select,
        > adm-select[single],
        > .zelect__input__addon,
        > adm-multi-select .select2-container .select2-selection,
        > adm-date-range-picker button[adm] {
          border-color: $input-border-color-invalid;
        }
      }
    }

    .wrap {
      position: relative;
    }

    &.with-addon {
      .wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;
        input[adm][type="text"],
        input[adm][type="number"],
        adm-single-select,
        adm-select[single],
        textarea[adm],
        adm-multi-select .select2-container .select2-selection,
        button[adm] {
          border-left: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .adm-multi-select__dropdown {
          left: -1px;
        }
      }
    }
    &.is-disabled {
      .wrap {
        @include disableInput;
      }
    }
  }
}
